.dogadaj-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4caf50;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.dogadaj-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dogadaj-card h3 {
  margin-bottom: 8px;
  color: #333;
}

.dogadaj-card p {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.search-input {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width:80% ;
  max-width: 300px;
  transition: border-color 0.2s;
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
#search {
  position: relative;
  z-index: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.filter-dropdown {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-right: 10px;
  max-width: 30%;
}

.filter-dropdown:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5);
  outline: none;
}

.filter-dropdown option {
  background-color: #fff;
  color: #333;
}

.header-dogadaji {
  margin: 20px 0;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px #0000001a;
  gap: 15px;
  max-width: 1200px;
  padding: 10px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.body_dogadaji {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

