.header{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 84%;
    margin: 0 8%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.header_slika{
    height: 80%;
    max-height: 200px;
    max-width: 1fr;
}
h1{
    text-align: right;
    color: white;
    font-size: 75px;
    margin: 0px 5vw 0px 0px;
}

.header_grid{
    margin-top: 30px;
    margin-left: 40%;
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
    margin-right: 5%;

}

.header_gumb{
    margin: 0 1vw;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    background-color: lightgray;
    color: black;
    border-width: 3px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    padding: 6px;
    font-weight: bold;
}

.header_gumb:hover {
    color: white;
    background-color: black;
    border-color: lightgray;
}
