.kreiraj-dogadaj-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dogadaj-form .form-group {
    margin-bottom: 15px;
  }
  
  .dogadaj-form .form-control {
    padding: 10px;
    font-size: 16px;
  }
  
  .btn-primary {
    width: 100%;
  }
  