.upitnik {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: 10%;
    margin-top: 60px;
    height: fit-content;
}
.opis{
    height: 100px;
    resize: vertical;
    width: 30vw;
    max-width: 400px;
    margin-bottom: 15px;
    padding: 8px;
    border-color: rgb(204, 204, 204);
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    margin-bottom: 15px;
    width: 30vw;
    max-width: 400px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}