/* Container for the page content and other */
.ponude-susjeda-container {
    text-align: center;
    padding: 20px;
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
}

/* Header for name of page*/
.ponude-susjeda-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

/* Container in witch SusjedCards are shown */
.susjed-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
