/* Container in witch SusjedCards are shown */
.susjed-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.spinner {
    border: 4px solid #f3f3f3; /* Light gray background */
    border-top: 4px solid #007bff; /* Blue color for spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 0 auto; /* Center the spinner */
}
    
/* Keyframes for the spinner rotation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Centering the loading container */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    background-color: rgba(255, 255, 255, 0.7); /* Optional semi-transparent background */
}